<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Drivers</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/libraryStyles.css}">
</head>

<body>

<div class="navbar">
    <span>Welcome</span>
    <button class="logout-btn" onclick="location.href='logout'">Log Out</button>
</div>

<div class="wrapper">
    <nav class="sidebar">
        <ul>
            <li><button class="sidebar-button" onclick="location.href='/dashboard'">Dashboard</button></li>
            <li><button class="sidebar-button" onclick="location.href='/trucks'">Trucks</button></li>
            <li><button class="sidebar-button" onclick="location.href='/drivers'">Drivers</button></li>
            <li><button class="sidebar-button" onclick="location.href='/orders'">Orders</button></li>
            <li><button class="sidebar-button" onclick="location.href='/cargos'">Cargo Assigment</button></li>
            <li><button class="sidebar-button" onclick="location.href='/planning'">Planning and Routing</button></li>
            <li><button class="sidebar-button" onclick="location.href='/settings'">Settings</button></li>
        </ul>
    </nav>

    <div class="content">
        <h2>Cargo Assignment</h2>

        <div th:if="${error}" class="alert alert-danger">
            <p th:text="${error}"></p>
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Weight</th>
                <th>Status</th>
                <th>Assign to Order</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cargo : ${cargos}">
                <td th:text="${cargo.id}"></td>
                <td th:text="${cargo.name}"></td>
                <td th:text="${cargo.weight}"></td>
                <td th:text="${cargo.status}"></td>
                <td>
                    <form th:action="@{/cargos/assignCargoToOrder}" method="post">
                        <input type="hidden" name="cargoId" th:value="${cargo.id}">
                        <select name="orderId">
                            <option th:each="order : ${orders}" th:value="${order.id}" th:text="${order.getId()}"></option>
                        </select>
                        <button type="submit" class="btn btn-primary btn-sm" style="background-color: green">Assign</button>
                    </form>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
</body>
</html>
