<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Edit Driver</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/libraryStyles.css}">
</head>

<body>

<div class="navbar">
    <span>Welcome</span>
    <button class="logout-btn" onclick="location.href='logout'">Log Out</button>
</div>

<div class="wrapper">
    <nav class="sidebar">
        <ul>
            <li><button class="sidebar-button" onclick="location.href='/dashboard'">Dashboard</button></li>
            <li><button class="sidebar-button" onclick="location.href='/trucks'">Trucks</button></li>
            <li><button class="sidebar-button" onclick="location.href='/drivers'">Drivers</button></li>
            <li><button class="sidebar-button" onclick="location.href='/orders'">Orders</button></li>
            <li><button class="sidebar-button" onclick="location.href='/cargos'">Cargo Assigment</button></li>
            <li><button class="sidebar-button" onclick="location.href='/planning'">Planning and Routing</button></li>
            <li><button class="sidebar-button" onclick="location.href='/settings'">Settings</button></li>
        </ul>
    </nav>

    <div class="content">
        <h2>Edit Driver</h2>

        <div th:if="${error}" class="alert alert-danger">
            <p th:text="${error}"></p>
        </div>

        <form id="updateDriverForm" th:action="@{/drivers/editDrivers/{id}(id=${driver.id})}" th:object="${driver}" method="post">
            <input type="hidden" name="_method" value="put" />
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="hidden" th:field="*{id}" name="id"/>

            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" th:field="*{name}" required>
            </div>

            <div class="form-group">
                <label for="surname">Surname:</label>
                <input type="text" class="form-control" id="surname" th:field="*{surname}" required>
            </div>

            <div class="form-group">
                <label for="personalNumber">Personal Number:</label>
                <input type="text" class="form-control" id="personalNumber" th:field="*{personalNumber}" required>
            </div>

            <div class="form-group">
                <label for="workingHours">Working Hours:</label>
                <input type="number" class="form-control" id="workingHours" th:field="*{workingHours}" required>
            </div>

            <div class="form-group">
                <label for="status">Status:</label>
                <input type="text" class="form-control" id="status" th:field="*{status}" required>
            </div>

            <div class="form-group">
                <label for="currentCity">Current City:</label>
                <input type="text" class="form-control" id="currentCity" th:field="*{currentCity}" required>
            </div>

            <button type="submit" class="btn btn-primary">Update Driver</button>
        </form>
    </div>

</div>

</body>
</html>
