<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <title>Edit Truck</title>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" th:href="@{/css/libraryStyles.css}">
</head>

<body>

<div class="navbar">
  <span>Welcome</span>
  <button class="logout-btn" onclick="location.href='logout'">Log Out</button>
</div>

<div class="wrapper">
  <nav class="sidebar">
    <ul>
      <li><button class="sidebar-button" onclick="location.href='/dashboard'">Dashboard</button></li>
      <li><button class="sidebar-button" onclick="location.href='/trucks'">Trucks</button></li>
      <li><button class="sidebar-button" onclick="location.href='/drivers'">Drivers</button></li>
      <li><button class="sidebar-button" onclick="location.href='/orders'">Orders</button></li>
      <li><button class="sidebar-button" onclick="location.href='/cargos'">Cargo Assigment</button></li>
      <li><button class="sidebar-button" onclick="location.href='/planning'">Planning and Routing</button></li>
      <li><button class="sidebar-button" onclick="location.href='/settings'">Settings</button></li>
    </ul>
  </nav>

  <div class="content">
    <h2>Edit Truck</h2>

    <div th:if="${error}" class="alert alert-danger">
      <p th:text="${error}"></p>
    </div>

    <form id="updateTruckForm" th:action="@{/trucks/editTrucks/{id}(id=${truck.id})}" th:object="${truck}" method="post">
      <input type="hidden" name="_method" value="put" />

      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

      <input type="hidden" th:field="*{id}" name="id"/>

      <div class="form-group">
        <label for="number">Number:</label>
        <input type="text" class="form-control" id="number" th:field="*{number}" required>
      </div>

      <div class="form-group">
        <label for="capacity">Capacity (Tones):</label>
        <input type="number" class="form-control" id="capacity" th:field="*{capacity}" required>
      </div>

      <div class="form-group">
        <label for="status">Status:</label>
        <select class="form-control" id="status" name="status" th:field="*{status}" required>
          <option value="OK">OK</option>
          <option value="NOK">NOK</option>
        </select>
      </div>

      <div class="form-group">
        <label for="currentCity">Current City:</label>
        <select class="form-control" id="currentCity" name="currentCity" required>
          <option th:each="city : ${cities}" th:value="${city.name}" th:text="${city.name}" th:field="*{currentCity}">City Name</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary">Update Truck</button>
    </form>
  </div>

</div>

</body>
</html>