<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Order & Truck Matching</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/libraryStyles.css}">
</head>

<body>

<div class="navbar">
    <span>Welcome, user </span>
    <button class="logout-btn" onclick="location.href='logout'">Log Out</button>
</div>

<div class="wrapper">
    <nav class="sidebar">
        <ul>
            <li><button class="sidebar-button" onclick="location.href='logout'">Dashboard</button></li>
            <li><button class="sidebar-button" onclick="location.href='trucks'">Trucks</button></li>
            <li><button class="sidebar-button" onclick="location.href='drivers'">Drivers</button></li>
            <li><button class="sidebar-button" onclick="location.href='orders'">Orders</button></li>
            <li><button class="sidebar-button" onclick="location.href='orderAndTruck'">Order & Truck Matching</button></li>
            <li><button class="sidebar-button" onclick="location.href='settings'">Settings</button></li>
        </ul>
    </nav>

    <div class="content">
    </div>
</div>

</body>
</html>