<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <title>Trucks</title>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" th:href="@{/css/libraryStyles.css}">
</head>

<body>

<div class="navbar">
  <span>Welcome</span>
  <button class="logout-btn" onclick="location.href='logout'">Log Out</button>
</div>

<div class="wrapper">
  <nav class="sidebar">
    <ul>
      <li><button class="sidebar-button" onclick="location.href='/dashboard'">Dashboard</button></li>
      <li><button class="sidebar-button" onclick="location.href='/trucks'">Trucks</button></li>
      <li><button class="sidebar-button" onclick="location.href='/drivers'">Drivers</button></li>
      <li><button class="sidebar-button" onclick="location.href='/orders'">Orders</button></li>
      <li><button class="sidebar-button" onclick="location.href='/cargos'">Cargo Assigment</button></li>
      <li><button class="sidebar-button" onclick="location.href='/planning'">Planning and Routing</button></li>
d    </ul>
  </nav>

  <div class="content">
    <h2>Truck List</h2>

    <button class="btn btn-primary mb-3" onclick="location.href='/trucks/add'">Add Truck</button>

    <table class="table table-hover">
      <thead>
      <tr>
        <th>ID</th>
        <th>Number</th>
        <th>Capacity (Tones)</th>
        <th>Status</th>
        <th>Current City</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="truck : ${trucks}">
        <td th:text="${truck.id}"></td>
        <td th:text="${truck.number}"></td>
        <td th:text="${truck.capacity}"></td>
        <td th:text="${truck.status}"></td>
        <td th:text="${truck.currentCity}"></td>
        <td>
          <a th:href="@{/trucks/edit/{id}(id=${truck.id})}" class="btn btn-warning btn-sm">
            <i class="icon fas fa-edit"></i> Edit
          </a>
          <form th:action="@{/trucks/delete/{id}(id=${truck.id})}" method="post" style="display: inline;">
            <button type="submit" class="btn btn-danger btn-sm">
              <i class="icon fas fa-trash-alt"></i> Delete
            </button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
</body>
</html>